body{
  margin: 12vh;
  min-height: 100vh;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

  div.container{
    content: "";
    width: 90%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  header{
    text-align: center;
    color: limegreen;
  }
    section.buttons{
      text-align: center;
      line-height: 30px;
      margin: 0px auto;
      background-color: limegreen;
      height: 30px;
      width: 90%
    }

    section.monopattini{
          color: white;
          padding-top: 1%;
          padding-left: 5%;
          padding-right: 5%;
          padding-bottom: 2%;
      }

      /* Barre da carica */
          div #progress1{
              background: orange;
              border-radius: 5px;
              height: 20px;
              width: 50%;
              padding: 3px;
          }
          div #progress2{
            background: limegreen;
            border-radius: 5px;
            height: 20px;
            width: 70%;
            padding: 3px;
          }
          div #progress3{
            background: red;
            border-radius: 5px;
            height: 20px;
            width: 30%;
            padding: 3px;
          }
